!DOCTYPE html>
<html>
  <head>
     <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.0/css/all.css"
      integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>

  <body>

    <h1><%= title %></h1>

    <div class="container d-flex justify-content-center">
      <div id="result">
        <% if (historyIsEmpty == false) { %>
        
        <% for (let i = 0; i < history.journeys.length; i++) { %>
        <ul>
          <li class="coord">
            <div class="card">
              <div class="card-body">
                <ul id="infos">
                  <li id="date">
                    <b><%= history.journeys[i].date %></b>
                  </li>
                  <li id="trajet">
                    <b><%= history.journeys[i].departure %>/<%= history.journeys[i].arrival %></b>
                  </li>
                  <li id="departureTime">
                    train departure at : <%= history.journeys[i].departureTime %> pm
                  </li>
                  <li id="price">
                    <b><%= history.journeys[i].price %> €</b>
                    <button type="button" class="btn btn-danger">OK</button>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
        <% if (historyisEmpty == true) { %>
        <h1> No trips recorded yet!</h1>
        <br />
        <a href="/#"
          ><button type="button" class="btn btn-danger">confirm</button></a
        >
        <% } %>
      </div>
    </div>

  <!-- script -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"
  ></script>

  </body>
</html>
