<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.0/css/all.css"
      integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#"
        ><img
          id="train"
          src="../images/train.png"
          width="25"
          height="25"
          class="logo"
          alt=""
          class="d-inline-block align-top"
        />TiceTac
      </a>

      <div class="d-flex align-items-right">
        <a class="nav-link active" href="/users/logout">Deconnexion</a>
        <a class="nav-link disabled" href="/history/last-trip">My last trips</a>
      </div>
    </nav>

    <h1>My last trips</h1>

    <div class="container d-flex justify-content-center">
      <div id="result">
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Journey</th>
              <th scope="col">Date</th>
              <th scope="col">Departure Time</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <% for (let i = 0; i < history.length; i++) { %>

          <tbody>
            <% var total = 0; var count = 1; %> <% for (let i = 0; i <
            history.length; i++) { %>
            <tr>
              <th scope="row"><%= count++%></th>
              <td><%= history[i].departure%>/<%= history[i].arrival%></td>
              <td><%= dateFormat(history[i].date) %></td>
              <td><%= history[i].departureTime%> pm</td>
              <td><%= history[i].price%> €</td>
            </tr>
            <% total = total + history[i].price %> <% } %>
          </tbody>
          <tfoot>
            <tr class="table-danger">
              <th>Total</th>
              <th></th>
              <th></th>
              <th></th>
              <th><%= total %> €</th>
            </tr>
          </tfoot>
        </table>
        <% } %>
      </div>
    </div>

    <!-- script -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
