<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.0/css/all.css"
      integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('navbar'); %>

    <h1><%= title %></h1>
    <div class="container justify-content-center">
      <div id="result">
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Journey</th>
              <th scope="col">Date</th>
              <th scope="col">Departure Time</th>
              <th scope="col">Price</th>
            </tr>
          </thead>

          <tbody>
            <% var total = 0; var count = 1; %> <% for (let i = 0; i <
            journeyPanier.length; i++) { %>
            <tr>
              <th scope="row"><%= count++%></th>
              <td>
                <%= journeyPanier[i].departure%>/<%= journeyPanier[i].arrival%>
              </td>
              <td><%= dateFormat(journeyPanier[i].date) %></td>
              <td><%= journeyPanier[i].departureTime%> pm</td>
              <td><%= journeyPanier[i].price%> €</td>
            </tr>
            <% total = total + journeyPanier[i].price %> <% } %>
          </tbody>
          <tfoot>
            <tr class="table-danger">
              <th>Total</th>
              <th></th>
              <th></th>
              <th></th>
              <th><%= total %> €</th>
            </tr>
          </tfoot>
        </table>
        <div id="btn-panier">
          <a href="/homepage"
            ><button type="button" class="btn btn-danger">Home</button></a
          >
          <button
            type="button"
            class="btn btn-danger justify-content-right"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            Confirm
          </button>
        </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Confirmez vos trajets
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  Confirmez vous ces <b><%= journeyPanier.length %></b> trajets
                  pour un total de <b><%= total %>€ </b> ?
                </p>

                <p></p>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-light"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <a href="/history?panier=<%= JSON.stringify(journeyPanier) %>">
                  <button type="button" class="btn btn-danger">Valider</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SCRIPT -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
