<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.0/css/all.css"
      integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('navbar'); %>
    <h1>Tickets available on <%= journey[0].date %></h1>
    <!-- <form action="/homepage" method="POST">
      <input
        type="text"
        name="from"
        id="from"
        placeholder="From : Paris, Marseille..."
      />
      <input type="text" name="to" id="to" placeholder="To: Lille, Nantes..." />
      <input type="submit" value="Go" />
    </form>
    <center>
      <br />
      <br />

      <img
        src="/images/landmark.png"
        width="200px"
        height="200px"
        alt="landmark"
        srcset=""
      />
    </center> -->

    <!-- RESULT -->
    <div class="container d-flex justify-content-center">
      <div id="result">
        <% for (let i = 0; i < journey.length; i++) { %>
        <ul>
          <li class="coord">
            <div class="card">
              <div class="card-body">
                <ul id="infos">
                  <li id="trajet">
                    <b><%= journey[i].departure %>/<%= journey[i].arrival %></b>
                  </li>
                  <li id="departureTime">
                    train departure at : <%= journey[i].departureTime %> pm
                  </li>
                  <li id="price">
                    <b><%= journey[i].price %> €</b>
                    <button type="button" class="btn btn-danger">OK</button>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
        <% } %>
      </div>
    </div>
    <!-- SCRIPT -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
